.DS_Store

.gradle/
build/
out/
target/

.vscode/
/.project
/.classpath
/.settings/
/bin/

.idea
*.iml
*.ipr
*.iws


/_book/


/src/test
!/src/test/java/com/example/demo/support/AbstractIntegrationTest.java
!/src/test/java/com/example/demo/DemoApplicationTest.java
!/src/test/java/com/example/demo/api/RatingsControllerTest.java
!/src/test/java/com/example/demo/repository/RatingsRepositoryTest.java
!/src/test/java/com/example/demo/.keep
!/src/test/java/com/example/demo/DockerComposeApplicationTest.java
!/src/test/resources/logback-test.xml
!/src/test/resources/schema.sql
!/src/test/resources/talks-schema.sql
/src/acceptanceTest
